* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex-shrink: 0;
  flex-grow: 0;
}

.screen {
  height: 100vh;
  width: 100%;
  padding: 20px;
  background-image: url(../img/sipario.jpg);
  background-size: 100% 100%;
}

.screen .container {
  flex-wrap: wrap;
  min-height: 0;
  height: 100%;
  max-width: 100%;
  overflow: auto;
  /* accrocchio per far funzionare lo scrollbar */
}

/* regole flex */
.flex {
  display: flex;
}

.flex_col {
  display: flex;
  flex-direction: column;
}

.flex_col_rev {
  display: flex;
  flex-direction: column-reverse;
}

.wrap {
  flex-wrap: wrap;
}

.just_cen {
  justify-content: center;
}

.space_bet {
  justify-content: space-between;
}

.align_cen {
  align-items: center;
}

/* presentation */
.presentation {
  position: relative;
  width: 400px;
  padding: 15px;
  text-align: center;
  color: whitesmoke;
}

.filter {
  padding: 40px 20px;
  border-radius: 50%;
  background-color: black;
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
}

#myBtn {
  height: 80px;
  width: 80px;
  margin: 10px;
  background-color: rgb(245, 221, 4);
  border: solid 2px black;
  border-radius: 50%;
  font-size: 18px;
  font-weight: bold;
  -webkit-box-shadow: 0px 2px 6px rgba(50, 50, 50, 1);
  -moz-box-shadow: 0px 2px 6px rgba(50, 50, 50, 1);
  box-shadow: 0px 2px 6px rgba(50, 50, 50, 1);
  transition: 0.5s;
}

#myBtn:hover {
    scale: 1.2;
}

/* list */
li {
  list-style-type: none;
  height: 35px;
  width: 380px;
  margin-top: 2px;
  margin-left: 30px;
  background-color: #bea6a0;
  border: solid 1px black;
  border-radius: 15px;
}

.mail_row {
  height: 100%;
  padding: 5px 10px;
}

.bee {
  height: 20px;
  width: 25px;
}

.bee img {
  height: 100%;
  width: 100%;
}

.mail {
  flex-grow: 1;
  margin: 0 15px;
  font-size: 14px;
}

.settings span {
  margin-left: 5px;
  cursor: pointer;
}

.settings span:hover,
.settings a:hover {
    color: #5B5B5B;
}

.settings a {
    text-decoration: none;
    color: black;
}